In [4]:
#Part 2 Vacation search

In [5]:
# Import all the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
import matplotlib.pyplot as plt
from ipywidgets.embed import embed_minimal_html

In [6]:
#getting data from the dataframe created in part 1
city_data_df = pd.read_csv("weather_data/weatherPy_challenge.csv")
#checking the Data
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Rain Inches (last 3hrs),Snow Inches (last 3 hrs)
0,0,Minot,US,11/9/2019 16:08,48.23,-101.30,37.00,100,90,4.70,light rain,0.00,0.0
1,1,Halifax,CA,11/9/2019 16:09,44.65,-63.58,35.01,74,75,13.87,broken clouds,0.00,0.0
2,2,Dikson,RU,11/9/2019 16:09,73.51,80.55,-1.65,98,61,5.17,broken clouds,0.00,0.0
3,3,Pacific Grove,US,11/9/2019 16:09,36.62,-121.92,51.01,93,90,13.15,fog,0.00,0.0
4,4,Laguna,BZ,11/9/2019 16:09,16.17,-88.94,82.40,74,2,6.93,light rain,0.13,0.0

In [7]:
city_data_df.dtypes

City_ID                       int64
City                         object
Country                      object
Date                         object
Lat                         float64
Lng                         float64
Max Temp                    float64
Humidity                      int64
Cloudiness                    int64
Wind Speed                  float64
Weather Description          object
Rain Inches (last 3hrs)     float64
Snow Inches (last 3 hrs)    float64
dtype: object

In [8]:
city_data_df['Rain Inches (last 3hrs)']=city_data_df['Rain Inches (last 3hrs)'].astype(float)

In [9]:
# Getting Inputs from the visitors 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))
rain=input("Do you want it to be raining?(yes/no)").lower()
snow=input("Do you want it to be snow?(yes/no)").lower()

What is the minimum temperature you would like for your trip? 45
What is the maximum temperature you would like for your trip? 90
Do you want it to be raining?(yes/no)yes
Do you want it to be snow?(yes/no)no

In [10]:
print(rain)

yes

In [11]:
# Filter the dataset to find the cities that fit the criteria.
if rain == "yes" and snow =="no" :
     preferred_cities_df = city_data_df.loc[((city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp) 
                                        & (city_data_df["Rain Inches (last 3hrs)"] > 0.0)
                                        & (city_data_df["Snow Inches (last 3 hrs)"] == 0))]

elif rain =="no" and snow =="no" :
     preferred_cities_df = city_data_df.loc[((city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp) 
                                        & (city_data_df["Rain Inches (last 3hrs)"] == 0) 
                                        & (city_data_df["Snow Inches (last 3 hrs)"] == 0))]

elif rain =="no" and snow == "yes" :
    preferred_cities_df = city_data_df.loc[((city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp) 
                                        & (city_data_df["Rain Inches (last 3hrs)"] == 0) 
                                        & (city_data_df["Snow Inches (last 3 hrs)"] < 0))]
else:
    preferred_cities_df = city_data_df.loc[((city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp) 
                                        & (city_data_df["Rain Inches (last 3hrs)"] == 0) 
                                        & (city_data_df["Snow Inches (last 3 hrs)"] == 0))]

In [12]:
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Rain Inches (last 3hrs),Snow Inches (last 3 hrs)
4,4,Laguna,BZ,11/9/2019 16:09,16.17,-88.94,82.40,74,2,6.93,light rain,0.13,0.0
5,5,Hofn,IS,11/9/2019 16:09,64.25,-15.21,45.79,74,100,24.70,light rain,0.63,0.0
6,6,Rikitea,PF,11/9/2019 16:09,-23.12,-134.97,73.24,76,100,6.69,light rain,0.44,0.0
22,22,Alofi,NU,11/9/2019 16:07,-19.06,-169.92,71.60,94,4,5.82,light rain,0.31,0.0
23,23,Finschhafen,PG,11/9/2019 16:09,-6.60,147.85,79.92,80,100,2.17,light rain,2.31,0.0
37,37,Saldanha,PT,11/9/2019 16:09,41.42,-6.55,46.15,89,87,6.26,light rain,2.19,0.0
42,42,Hithadhoo,MV,11/9/2019 16:09,-0.60,73.08,82.22,76,19,9.46,light rain,0.69,0.0
47,47,Kaitangata,NZ,11/9/2019 16:09,-46.28,169.85,52.00,92,87,4.07,light rain,2.00,0.0
49,49,Mataura,NZ,11/9/2019 16:09,-46.19,168.86,48.99,96,100,5.01,moderate rain,5.75,0.0
70,70,Manokwari,ID,11/9/2019 16:09,-0.87,134.08,73.33,83,99,6.24,light rain,0.50,0.0

In [13]:
user_df = preferred_cities_df[["City", "Country", "Max Temp","Weather Description", "Lat", "Lng"]].copy()
user_df

             City Country  Max Temp Weather Description    Lat     Lng
4          Laguna      BZ     82.40          light rain  16.17  -88.94
5            Hofn      IS     45.79          light rain  64.25  -15.21
6         Rikitea      PF     73.24          light rain -23.12 -134.97
22          Alofi      NU     71.60          light rain -19.06 -169.92
23    Finschhafen      PG     79.92          light rain  -6.60  147.85
...           ...     ...       ...                 ...    ...     ...
4552      Balabac      PH     80.02          light rain   7.99  117.06
4570     La Rioja      AR     75.92          light rain -29.41  -66.86
4597     Belmonte      PT     51.01     overcast clouds  40.36   -7.35
4607      Lannion      FR     50.00          light rain  48.73   -3.46
4624        Dukat      AL     57.00       moderate rain  40.25   19.57

[465 rows x 6 columns]

In [14]:
#adding New column to the user_df
user_df["Hotel Name"] = ""
user_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Laguna,BZ,82.40,light rain,16.17,-88.94,
5,Hofn,IS,45.79,light rain,64.25,-15.21,
6,Rikitea,PF,73.24,light rain,-23.12,-134.97,
22,Alofi,NU,71.60,light rain,-19.06,-169.92,
23,Finschhafen,PG,79.92,light rain,-6.60,147.85,
...,...,...,...,...,...,...,...
4552,Balabac,PH,80.02,light rain,7.99,117.06,
4570,La Rioja,AR,75.92,light rain,-29.41,-66.86,
4597,Belmonte,PT,51.01,overcast clouds,40.36,-7.35,
4607,Lannion,FR,50.00,light rain,48.73,-3.46,
4624,Dukat,AL,57.00,moderate rain,40.25,19.57,

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [16]:
# Iterate through the DataFrame.
for index, row in user_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        user_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
#checking the data frame
user_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
4,Laguna,BZ,82.40,light rain,16.17,-88.94,Laguna Maya Lodge
5,Hofn,IS,45.79,light rain,64.25,-15.21,Hótel Höfn
6,Rikitea,PF,73.24,light rain,-23.12,-134.97,Pension Maro'i
22,Alofi,NU,71.60,light rain,-19.06,-169.92,Taloa Heights
23,Finschhafen,PG,79.92,light rain,-6.60,147.85,
37,Saldanha,PT,46.15,light rain,41.42,-6.55,
42,Hithadhoo,MV,82.22,light rain,-0.60,73.08,Scoop Guest House
47,Kaitangata,NZ,52.00,light rain,-46.28,169.85,
49,Mataura,NZ,48.99,moderate rain,-46.19,168.86,Ellie's Villa
70,Manokwari,ID,73.33,light rain,-0.87,134.08,Swiss Belhotel Manokwari

In [18]:
# Create the output file (CSV).
output_data_file = "weather_data/WeatherPy_vacation.csv"
# Export the City_Data into a CSV.
user_df.to_csv(output_data_file, index_label="City_ID")

In [19]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt> Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

In [21]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in user_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = user_df[["Lat", "Lng"]]
max_temp = user_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
 #saving HTML to get PNG file to get peoper file 
#created a export file in the folder 
embed_minimal_html('export.html', views=[fig])